:root {
    --draggable-box-width: 600px;
    --draggable-box-border-radius: 10px;
}

.draggable-container {
    position: absolute;
    z-index: 9;
    background-color: #303030;
    color: white;
    left: calc(100vw / 2 - var(--draggable-box-width) / 2);
    top: calc(100vh / 2 - var(--draggable-box-height) / 2);
    width: var(--draggable-box-width);
    border-radius: var(--draggable-box-border-radius);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
    outline: 1px solid var(--outline-color);
    overflow: auto;
}

.draggable-window-frame {
    cursor: move;
    z-index: 10;
    background-color: var(--panel-color);
    color: white;
    border-radius: var(--draggable-box-border-radius)  var(--draggable-box-border-radius) 0 0;
    height: 30px;
    outline: 1px solid darkgray;
}

.draggable-window-frame-contents {
    display: flex;
    margin: 0 10px 0 10px;
}

.draggable-window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.draggable-cancel-btn {
    float: right;
    width: 25px;
    height: 24px;
    margin: 3px 0 3px 0;
}

.draggable-window-content-container {
    border-Bottom-Right-Radius: 10px ;
    border-Bottom-Left-Radius: 10px;
    overflow: auto ;
}